@font-face {
	font-family: GandhiReg;
	src: url('../fonts/GandhiSans-Regular.otf');
}

@font-face {
	font-family: Lakesight;
	src: url('../fonts/Lakesight_PersonalUseOnly.ttf');
}

nav {
	height: 85px;
	width: 100%;
	background-color: transparent;
	position: fixed;
	padding-top: 20px;
	padding-left: 50px;
	z-index: 100;
	-webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

nav.scrolled {
	background-color: white;
}

nav > ul {
	width: 500px;
	position: relative;
	margin: -40px 0 0 180px;
}

nav > ul > li {
	display: inline-block;
	color: white;
	font-style: sans-serif;
	margin-right: 30px;
	font-size: 18px;
	font-family: GandhiReg;
	-webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    color: background-color 700ms linear;
}

nav.scrolled > ul > li {
	color: #3ABF70;
}


.logo {
	height: 50px;
	width: 150px;
	background-image: url('../img/gm_logo1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.home-page-container {
	height: 600px;
	width: 100%;
}

.home-page-image {
	position: absolute;
	height: 650px;
	width: 100%;
	background-image: url("../img/bell.jpg");
	background-size: cover;
}

.home-page-image > header {
	position: relative;
	height: 150px;
	width: 900px;
	text-align: center;
	margin: 200px auto 0 auto;
}

.home-page-image > header > h1 {
	color: white;
	font-family: GandhiReg;
}

.home-page-image > header > h5 {
	color: white;
	font-family: GandhiReg;
}

.call-to-action {
	width: 500px;
	position: relative;
	margin: 0px auto 0px auto;
}

.call-to-action > p {
	color: white;
	font-family: Bitter;
	font-size: 55px;
	text-align: center;
	color: #3ABF70;
}

#test-go-moment {
	position: relative;
	width: 400px;
	margin-top: 10px;
}

#test-go-moment-input {
	background-color: transparent;
	color: #3ABF70;
	height: 50px;
	font-size: 20px;
	border: 3px solid #3ABF70;
}

#test-go-moment-submit {
	background-color: transparent;
	color: white;
	height: 50px;
	font-size: 18px;
	border: 3px solid #3ABF70;
	background-color: #3ABF70;
	border-left: none;
}

.product-summary {
	height: 350px;
	width: 100%;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
	border-bottom: 1px solid #ebebed;
}

.product-section {
	height: 700px;
	width: 100%;
	border-bottom: 1px solid #ebebed;
	overflow: hidden;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
}

.product-overview {
	height: 120px;
	width: 800px;
	text-align: center;
	position: relative;
	margin: 150px auto 0 auto;
}

.product-overview > header > h2 {
	font-family: GandhiReg;
	color: #3ABF70;
}

.product-overview > p {
	width: 400px;
	position: relative;
	margin: 0 auto;
	font-family: GandhiReg;
}

.sell-point-container {
	width: 1000px;
	height: 600px;
	position: relative;
	margin: 100px auto 0 auto;
}

#sell-container {
	margin-top: 50px;
	padding-left: 150px;
}

#sell-point-1 {
	margin: -400px 0 0 350px;
	width: 450px;
}

#sell-point-1 > p {
	text-align: center;
}

#learn-more-1 {
	margin: -212px 0 0 373px; 
}

.iphone-image {
	height: 590px;
	width: 300px;
	background-image: url('../img/gophone.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.iphone-gomoment-image {
	height: 407px;
	width: 230px;
	margin: -493px 0 0 35px;
	background-image: url('../img/gochat.png');
	background-size: contain;
}

.imac-image {
	position: relative;
	height: 550px;
	width: 650px;
	margin: 20px 0 0 20px;
	background-image: url('../img/gomac.png');
	background-size: contain;
	background-repeat: no-repeat; 
}

.imac-gomoment-image {
	height: 345px;
	width: 600px;
	margin: -522px 0 0 48px;
	background-image: url('../img/messages.png');
	background-size: contain;
}

#imac-gomoment-image-2 {
	background-image: url('../img/dash.png');
}

.sell-point {
	height: 300px;
	width: 300px;
	text-align: center;
	position: relative;
	margin: -350px 0 0 690px;
}

#sell-point-p-2 {
	text-align: left;
}

.sell-point > header > h2 {
	font-family: GandhiReg;
	color: #3ABF70;
}

.sell-point > p {
	font-family: GandhiReg;
	text-align: left;
}

.demo-input {
	padding: 20px;
	padding-bottom: 0px;
	background-color: #fff;
	background-color: rgba(000,000,000,0.4);
}

.learn-more {
	height: 50px;
	width: 150px;
	margin: -130px 0 0 690px;
}

#learn-more-2 {
	margin: -110px 0 0 690px;
}

.learn-more > a {
	color: #3ABF70;
	font-size: 18px;
	font-family: GandhiReg;
}

.clients-section {
	height: 300px;
	width: 100%;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
}

.clients-section > header {
	text-align: center;
	margin-top: 50px;
}

.clients-section > header > h2 {
	color: #3ABF70;
	font-family: GandhiReg;
}

.logo-container {
	width: 900px;
	height: 180px;
	overflow: scroll;
	margin: 40px auto 0 auto;
}

.logo-container > ul {
	width: 1700px;
}

.logo-container > ul > li {
	list-style: none;
	height: 150px;
	width: 150px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.logo-container > ul > li:nth-child(1) {
	background-image: url('../logos/line.jpeg');
}

.logo-container > ul > li:nth-child(2) {
	background-image: url('../logos/sheraton.png');
}

.logo-container > ul > li:nth-child(3) {
	background-image: url('../logos/fairfield.jpg');
}

.logo-container > ul > li:nth-child(4) {
	background-image: url('../logos/best_western.jpg');
}

.logo-container > ul > li:nth-child(5) {
	background-image: url('../logos/Wyndham201.png');
}

.logo-container > ul > li:nth-child(6) {
	background-image: url('../logos/crowne.jpg');
}

.logo-container > ul > li:nth-child(7) {
	background-image: url('../logos/hyatt.jpg');
}

.logo-container > ul > li:nth-child(8) {
	background-image: url('../logos/holiday_inn.gif');
	background-color: white;
}

.logo-container > ul > li:nth-child(9) {
	background-image: url('../logos/double.gif');
}

.logo-container > ul > li:nth-child(10) {
	background-image: url('../logos/hampton.jpg');
}

.product-features-container {
	height: 400px;
	width: 900px;
	margin: 60px auto 0 auto;
	padding-left: 60px;
}

.product-feature-header {
	text-align: center;
	margin-top: 100px;
}

.product-feature-header > h2 {
	font-family: GandhiReg;
	color: #3ABF70;
}

.product-feature-icons-row1 {
	height: 60px;
	width: 850px;
	margin: 20px 0 0 0;
	padding-left: 135px;
}

#data-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-graph-trend.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#automated-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-widget.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#request-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-results-demographics.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

.product-description-row1 {
	height: 50px;
	width: 850px;
	padding-left: 90px;
}

.product-description-row1 > ul {
	list-style: none;
}

.product-description-row1 > ul > li {
	display: inline-block;
	font-family: GandhiReg;
	margin-right: 75px;
}

.product-feature-icons-row2 {
	height: 60px;
	width: 850px;
	margin: 100px 0 0 0;
	padding-left: 135px;
}

#realtime-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-comments.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#dashboard-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-graph-bar.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#reports-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-page-export.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

.product-description-row2 {
	height: 50px;
	width: 850px;
	padding-left: 80px;
}

.product-description-row2 > ul {
	list-style: none;
}

.product-description-row2 > ul > li {
	display: inline-block;
	font-family: GandhiReg;
	margin-right: 90px;
}





