@font-face {
	font-family: GandhiReg;
	src: url('../fonts/GandhiSans-Regular.otf');
}

@font-face {
	font-family: LintelReg;
	src: url('../fonts/lintel.ttf');
}

@font-face {
	font-family: NexaLight;
	src: url('../fonts/NexaLight.otf');
}

@font-face {
	font-family: NexaBold;
	src: url('../fonts/NexaBold.otf');
}

nav {
	height: 85px;
	width: 100%;
	background-color: transparent;
	position: fixed;
	padding-top: 20px;
	padding-left: 50px;
	z-index: 100;
	-webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

nav.scrolled {
	background-color: white;
	box-shadow: 0 5px 5px -5px #333;
}

nav > ul {
	width: 500px;
	position: relative;
	margin: -40px 0 0 180px;
}

nav > ul > li {
	display: inline-block;
	color: white;
	font-style: sans-serif;
	margin-right: 30px;
	font-size: 18px;
	font-family: NexaLight;
	-webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    color: background-color 700ms linear;
}

nav.scrolled > ul > li {
	color: #3ABF70;
}


.logo {
	height: 50px;
	width: 150px;
	background-image: url('../img/gm_logo1.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.home-page-container {
	height: 600px;
	width: 100%;
}

.home-page-image {
	position: absolute;
	height: 650px;
	width: 100%;
	background-image: url("../img/bell.jpg");
	background-size: cover;
}

.home-page-image > header {
	position: relative;
	height: 150px;
	width: 600px;
	text-align: center;
	margin: 150px 0 0 40px;
}

.home-page-image > header > h1 {
	color: white;
	font-family: NexaLight;
	line-height: 45px;
	font-size: 40px;
}

.home-page-image > header > h5 {
	color: white;
	font-family: NexaLight;
}

.call-to-action {
	width: 500px;
	position: relative;
	margin: 10px 0 0 -18px;
}

.call-to-action > p {
	color: white;
	font-family: NexaLight;
	font-size: 55px;
	text-align: center;
	color: #3ABF70;
}

.test-go-moment-container {
	height: 200px;
	width: 470px;
	margin-left: 105px;
	margin-top: 40px;
	background-color: rgba(0,0,0,0.5);
}

#test-go-moment {
	position: relative;
	width: 400px;
	margin-left: 35px;
}

#test-go-moment-input {
	background-color: transparent;
	color: #3ABF70;
	height: 50px;
	font-size: 20px;
	border: 3px solid #3ABF70;
}

#test-go-moment-submit {
	background-color: transparent;
	color: white;
	height: 50px;
	font-size: 18px;
	border: 3px solid #3ABF70;
	background-color: #3ABF70;
	border-left: none;
}

.product-summary {
	height: 200px;
	width: 100%;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
	border-bottom: 1px solid #ebebed;
}

.product-section {
	height: 700px;
	width: 100%;
	border-bottom: 1px solid #ebebed;
	overflow: hidden;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
}

.product-overview {
	height: 120px;
	width: 800px;
	text-align: center;
	position: relative;
	margin: 120px auto 0 auto;
}

.product-overview > header > h2 {
	font-family: NexaBold;
	font-size: 30px;
	color: #3ABF70;
}

.product-overview > p {
	width: 400px;
	position: relative;
	margin: 0 auto;
	font-family: NexaLight;
	font-size: 20px;
}

.sell-point-container {
	width: 1000px;
	height: 600px;
	position: relative;
	margin: 100px auto 0 auto;
}

#sell-container {
	margin-top: 50px;
	padding-left: 150px;
}

#sell-point-1 {
	margin: -350px 0 0 300px;
	width: 400px;
}

#sell-point-1 > p {
	text-align: center;
	font-size: 18px;
}

.iphone-image {
	height: 640px;
	width: 350px;
	background-image: url('../img/gophone6.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -50px;
	margin-left: -50px;
}

.iphone-gomoment-image {
	height: 402px;
	width: 225px;
	margin: -521px 0 0 20px;
	background-image: url('../img/gochat.png');
	background-size: contain;
}

.imac-image {
	position: relative;
	height: 450px;
	width: 550px;
	margin: 20px 0 0 20px;
	background-image: url('../img/gomac.png');
	background-size: contain;
	background-repeat: no-repeat; 
}

.imac-gomoment-image {
	height: 330px;
	width: 505px;
	margin: -428px 0 0 43px;
	background-image: url('../img/messages.png');
	background-size: contain;
}

#imac-gomoment-image-2 {
	background-image: url('../img/dash2.png');
}

.sell-point {
	height: 300px;
	width: 400px;
	text-align: center;
	position: relative;
	margin: -350px 0 0 600px;
}

#sell-point-p-2 {
	text-align: center;
	font-size: 18px;
}

.sell-point > header > h2 {
	font-family: NexaBold;
	font-size: 30px;
	color: #3ABF70;
}

.sell-point > p {
	font-family: NexaLight;
	text-align: left;
}

.demo-input {
	padding: 20px;
	padding-bottom: 0px;
	background-color: #fff;
	background-color: rgba(000,000,000,0.4);
}

.learn-more {
	height: 85px;
	/*border: 1px solid black;*/
}

#learn-more-1 {
	position: relative;
	margin-top: 15px;
	padding-top: 25px;
	background-color: #3ABF70;
	width: 100%;
	text-align: center; 
}

#learn-more-1:hover {
	background-color: black;
}

#learn-more-1:hover > a {
	color: #3ABF70;
}

#learn-more-2 {
	position: relative;
	margin-top: -86px;
	padding-top: 25px;
	background-color: #3ABF70;
	width: 100%;
	text-align: center;
}

#learn-more-2:hover {
	background-color: black;
}

#learn-more-2:hover > a {
	color: #3ABF70;
}

.learn-more > a {
	color: white;
	font-size: 25px;
	font-family: NexaLight;
}

.clients-section {
	height: 700px;
	width: 100%;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
}

.clients-section > header {
	text-align: center;
	margin-top: 80px;
}

.clients-section > header > h2 {
	color: #3ABF70;
	font-family: NexaBold;
}

.logo-container {
	width: 1050px;
	height: 451px;
	overflow: auto;
	margin: 60px auto 0 auto;
	background: rgba(0,0,0,0.2);
	padding-top: 25px;
}

.logo-container > ul {
	width: 1025px;
	margin-top: -5px;
}

.logo-container > ul > li {
	list-style: none;
	height: 200px;
	width: 200px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}

#logo-second-row {
	margin-top: -23px;
}

.logo-container > ul > li:nth-child(1) {
	background-image: url('../logos/line.jpeg');
}

.logo-container > ul > li:nth-child(2) {
	background-image: url('../logos/sheraton.png');
}

.logo-container > ul > li:nth-child(3) {
	background-image: url('../logos/fairfield.jpg');
}

.logo-container > ul > li:nth-child(4) {
	background-image: url('../logos/best_western.jpg');
}

.logo-container > ul > li:nth-child(5) {
	background-image: url('../logos/Wyndham201.png');
}

#logo-second-row > li:nth-child(1) {
	background-image: url('../logos/crowne.jpg');
}

#logo-second-row > li:nth-child(2) {
	background-image: url('../logos/hilton.jpg');
}

#logo-second-row > li:nth-child(3) {
	background-image: url('../logos/holiday_inn.gif');
	background-color: white;
}

#logo-second-row > li:nth-child(4) {
	background-image: url('../logos/double.gif');
}

#logo-second-row > li:nth-child(5) {
	background-image: url('../logos/hampton.jpg');
}

.product-features-container {
	height: 450px;
	width: 900px;
	margin: 40px auto 0 auto;
	padding-left: 60px;
}

.product-feature-header {
	text-align: center;
	margin-top: 100px;
}

.product-feature-header > h2 {
	font-family: NexaBold;
	color: #3ABF70;
}

.product-feature-icons-row1 {
	position: relative;
	width: 650px;
	margin: 0 auto;
}

.icon-overlay {
	height: 200px;
	width: 200px;
	display: inline-block;
	color: white;
	background-color: rgba(0,0,0,0.2);
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.icon-overlay:hover {
	height: 200px;
	width: 200px;
	display: inline-block;
	color: white;
	background-color: #3ABF70;
}

#data-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-graph-trend.svg');
	background-size: cover;
	display: inline-block;
}

#automated-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-widget.svg');
	background-size: cover;
	display: inline-block;
}

#request-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-results-demographics.svg');
	background-size: cover;
	display: inline-block;
}

.product-description-row1 {
	height: 50px;
	width: 850px;
	padding-left: 90px;
}

.product-feature-icons-row2 {
	position: relative;
	width: 650px;
	margin: 5px auto 0 auto;
}

#realtime-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-comments.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#dashboard-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-graph-bar.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

#reports-icon {
	height: 50px;
	width: 50px;
	background-image: url('../icons/fi-page-export.svg');
	background-size: cover;
	display: inline-block;
	margin-right: 180px;
}

.product-description-row2 {
	height: 50px;
	width: 850px;
	padding-left: 80px;
}

.product-description-row2 > ul {
	list-style: none;
}

.product-description-row2 > ul > li {
	display: inline-block;
	font-family: NexaLight;
	margin-right: 90px;
}

.icon-container {
	height: 200px;
	width: 200px;
	/*border: 1px solid black;*/
	display: inline-block;
	padding-top: 70px;
	padding-left: 70px;
}





